<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
  rel="stylesheet"
/>

<style>
  a {
    text-decoration: none;
    color: white;
  }
</style>

<nav
  id="navbar"
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="margin-bottom: 100px"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-brand" aria-current="page" routerLink="/">
            <img
              src="../assets/images/logo/sem texto.png"
              alt=""
              width="60"
              height="60"
            />
          </a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            VÍDEOS
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/clientes">Listar todos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/cargos">Listar todos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/funcionarios"
                >Listar todos</a
              >
            </li>
          </ul>
        </li>
        -->
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Pesquisar"
          aria-label="Search"
        />
        <button mat-button class="btn btn-dark" type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <div d-flex align-self-center>
        <a *ngIf="!user" routerLink="/login">
          <i class="fas fa-user"></i>
        </a>
        <button *ngIf="user" class="ms-3" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
        </button>
        <a class="ms-3" routerLink="/configs">
          <i class="fas fa-cog"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer id="footer" class="container-fluid bg-dark pt-1">
  <p class="text-center text-light mb-0">IFRS 2022 &copy;</p>
</footer>

<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  };
</script>
