<p>Home<mat-icon>home</mat-icon></p>
<p>Trending<mat-icon>whatshot</mat-icon></p>
<p>Subscription<mat-icon>subscriptions</mat-icon></p>
<hr class="sidebar__hr" />
<p>Library<mat-icon>video_library</mat-icon></p>
<p>History<mat-icon>history</mat-icon></p>
<p selected="true" svg="access_point" >Live"></p>
<p>Your Videos<mat-icon>tv</mat-icon></p>
<p>Watch Later<mat-icon>watch_ater</mat-icon></p>
<p>Liked Videos<mat-icon>thumb_up_alt_outlined</mat-icon></p>
<p>Show More<mat-icon>expand_more_outlined</mat-icon></p>
<hr class="sidebar__hr" />
<button class="logout" >Logout</button>